<p id="notice" class="w3-panel"><%= notice %></p>

<div class="w3-panel">

<table class="w3-table-all">
<thead>
  <tr>
    <th><h1>Cart</h1></th>
    <th></th>
  </tr>
</thead>
<tbody>
  
<% @cart.line_items.each do |item| %>  
<tr>
  <td><%= item.quantity %> &times; <%= item.product.title %></td>
  <td><%= item.product.price %></td>
</tr>
<% end %>

<tr>
<td>
<%= link_to 'Edit', edit_cart_path(@cart) , class:"w3-button w3-round w3-deep-orange" %> 
</td>
<td>
<%= link_to 'Back', carts_path , class:"w3-button w3-round w3-deep-orange" %>
</td>
</tr>
</tbody>
</table>
</div>