<h1 class="w3-text-red" style="text-shadow:1px 1px 0 #444">Ruby Store</h1>
<p style="font-size:20px;">Here is the selection of home appliances that you can browse and buy.</p>

<table class="w3-table-all">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Image url</th>
      <th>Price</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><h4><%= product.title %></h4></td>
        <td width="50%"><%= sanitize(strip_tags(product.description)) %></td>
        <td><%= image_tag(product.image_url) %></td>
        <td>
          <%= number_to_currency(product.price) %>
          <%= button_to 'Add to Cart', line_items_path(product_id: product), class:"w3-button w3-round w3-deep-orange" %>
          <hr />
          </td>
      </tr>
    <% end %>
  </tbody>
</table>

