<!DOCTYPE html>

<html>

  <head>

    <title>IT 231 W3CSS</title>

   

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

 

  </head>

 

  <body class="w3-container w3-light-green">
    
    <div class="w3-bar">
      <a href="/" class="w3-bar-item w3-button w3-border"><%= image_tag 'ruby_icon.png', alt: 'The Ruby Icon', height: '28', width: '28', style: 'display: block; margin-left: auto; margin-right: auto; margin-bottom: none; margin-top: none' %></a>
      <a href="/static_pages/home" class="w3-bar-item w3-button w3-round w3-deep-orange">Home</a>
      <a href="/" class="w3-bar-item w3-button w3-round w3-deep-orange">Store</a>
      <a href="/static_pages/help" class="w3-bar-item w3-button w3-round w3-deep-orange">Help</a>
      <a href="/static_pages/about" class="w3-bar-item w3-button w3-round w3-deep-orange">About</a>
<%= link_to 'Login', login_path, method: :post, class:"w3-bar-item w3-button w3-round w3-deep-orange"%>

<% if session[:user_id] %>
<%= link_to 'Orders', orders_path, class:"w3-bar-item w3-button w3-round w3-deep-orange" %>
<%= link_to 'Products', products_path, class:"w3-bar-item w3-button w3-round w3-deep-orange"  %>
<%= link_to 'Users', users_path, class:"w3-bar-item w3-button w3-round w3-deep-orange"  %>
      <a href="/carts" class="w3-bar-item w3-button w3-round w3-deep-orange">Carts</a>      
<%= link_to 'Logout', logout_path, method: :delete, class:"w3-bar-item w3-button w3-round w3-deep-orange"  %>

<% end %>

 

   </div>

 

   <div class="w3-container">

    <%= yield %>

   </div>   

 

  </body>

</html>